<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Sample tests on Orange hrm live">
        <classes>
            <class name="com.sample.runners.CukesRunner" />
<!--            <class name="com.sample.runners.CukesRunner2" />-->
        </classes>
    </test>
    <test name="Rerun failed app tests">
        <classes>
            <class name="com.sample.runners.FailedRun" />
        </classes>
    </test>
</suite>